<div id="toast_CALFailedToReceiveJudgment" class="toast hide mr-1" style="position: fixed; top: 0; right: 0;z-index:10; margin-top: 4rem!important;" data-delay="4000">
  <div class="toast-header">
    <strong class="mr-auto text-danger">Ops!</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      <span>&times;</span>
    </button>
  </div>
  <div class="toast-body d-flex flex-column" style="min-width: 260px;">
    <!-- loader -->
    <div class="mx-auto CALFailedToReceiveJudgmentSpinner my-3 d-none">
      <div class="la-ball-circus text-secondary"><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <!-- end loader -->
    <div id="CALFailedToReceiveJudgment_toast_body" class="d-none">
      <p class="m-0">The discovery model was not able to</p>
      <p class="m-0">receive your judgment on docno: </p>
      <p class="font-montserrat text-primary m-0 text-center" id="toast_CALFailedToReceiveJudgment_docid">hhi</p>
    </div>
  </div>
</div>

