<div class="modal" id="collaborationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Collaboration Bot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The suggester bot is powered by different AI models constantly trying to find relevant documents
          to increase the efficiency of your retrieval process.</p>

        <p class="text-muted small m-0">Note: the tools uses multiple AI methods and may take some time to complete.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
