<div class="modal" id="keyboardShortcutsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Keyboard Shortcuts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          <div class="d-flex flex-row">
            <h5 class="mb-0 -items-center align-self-center pr-3"><i class="fas fa-info-circle"></i></h5>
            <span class="align-self-center">Keyboard shortcuts are not set.</span>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
