<div id="helper_bot">
  <h5 class="card-title text-secondary mt-4 mb-1 unselectable" unselectable="on">Collaboration Bot <a class="badge badge-secondary float-right shadow-none small" data-toggle="modal" data-target="#collaborationModal" href="#"><i class="fas fa-info-circle"></i> Learn more</a></h5>
  <h6 class="text-muted small">Note: this may take some time.</h6>
  <div class="card">
    <div class="card-body d-flex align-items-center" style="min-height: 20rem;">
      <div class="mx-auto">
        <!-- loader -->
        <div class="la-ball-circus text-secondary"><div></div><div></div><div></div><div></div><div></div></div>
        <!-- end loader -->
      </div>
    </div>
  </div>
</div>
