{% extends 'core/home_base.html' %}
{% load static crispy_forms_tags  %}
{% block pagetitle %}Judgments{% endblock %}
{% block home-nav-judgments-extra-class %}border-bottom{% endblock %}

{% block home-main %}
<div class="row top-bottom-margin">
  <div class="col-md-9 order-2 order-md-1">
    <div class="card mb-2 border-0">
      <div class="card-block">
        <h2 class="text-dark mb-1">Judgments</h2>
        <span class="text-muted">Details judgments made for this session.</span>
        <div class="row extra-top-margin">
          <div class="col-md-12 table-responsive judgment_table p-3 small-radius">
            <table class="table judgment_table table-borderless table-hover small m-0">
              <thead>
              <tr>
                <th>Docno</th>
                <th>Document Title</th>
                <th>Judgment</th>
                <th>User</th>
              </tr>
              </thead>
              <tbody>
              {% for row in judgments %}
              <tr
                  id="doc_{{row.doc_id}}_card"
                  data-doc-id="{{ row.doc_id }}"
                  data-title="{{ row.doc_title|safe }}"
                  data-toggle="modal" data-target="#documentModal"
                  class="searchItemSelector"
                  style="cursor: pointer;"
              >
                <th scope="row">
                  <code><span class="text-primary small">{{ row.doc_id }}</span></code>
                </th>
                <td>{{ row.doc_title|truncatechars:100 }}</td>
                <td>
                  <span id="doc_{{row.doc_id}}_judgment_badge" class="badge
                  {% if row.relevance == 2 %}badge-highlyRelevant {% elif row.relevance == 1 %}badge-relevant{% else %}badge-nonRelevant{%endif%}">
                    {% if row.relevance == 2 %}Highly {% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %} {% elif row.relevance == 1 %}{% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}{% else %}Non-{% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}{%endif%}
                  </span>
                </td>
                <td>{{ row.user }}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-3 order-1 order-md-2 mb-3">
    <div class="card border-0 sticky-top" style="top: 73px; z-index: 0;">
      <div class="card-block">
        <h2 class="text-dark mb-4">Operations</h2>

        <a id="import_csv" href="#" class="btn btn-outline-primary btn-sm mb-3 btn-block" data-toggle="modal" data-target="#importModal">Import judgments</a>
        <a id="export_csv" href="#" class="btn btn-outline-primary btn-sm mb-3 btn-block" data-toggle="modal" data-target="#exportModal">Export to csv</a>
      </div>
    </div>
  </div>

  <!-- Import Modal -->
  <div class="modal" id="importModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex flex-column flex-grow-1 ">
            <h5 class="modal-title text-primary">Import judgments</h5>
            <h6 class="text-muted">Please reformat your CSV file to have columns, <code>docno</code>, and <code>judgment</code>.</h6>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" enctype="multipart/form-data" id="import_csv_form">
          <div class="modal-body">
              <p>Example of accepted CSV file:</p>
                    <pre class="small text-muted">
                      docno, judgment
                      mydocid1, 1,
                      mydocid2, 0,
                      mydocid3, 2</pre>

              {% csrf_token %}
              {% crispy upload_form %}

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-outline-secondary" id="import_csv_button" type="submit">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Export Modal -->
  <div class="modal" id="exportModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex flex-column flex-grow-1 ">
            <h5 class="modal-title text-primary">Export judgments</h5>
            <h6 class="text-muted">Judgments will be exported in csv format, with columns, <code>docno</code>, <code>judgment</code>, and <code>user</code>.</h6>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="GET" id="export_csv_form">
          {% csrf_token %}
          <div class="modal-body">
              <p>Example of exported CSV file:</p>
                <pre class="small text-muted">
                  docno, judgment, user
                  mydocid1, 1, myusername
                  mydocid2, 0, myusername
                  mydocid3, 2, myusername</pre>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-outline-secondary" id="export_csv_button" name="export_csv" value="export_csv" type="submit">Export to CSV</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Document modal -->
  {% include 'modals/document_modal.html' %}
  <!-- Judging criteria modal -->
  {% include 'modals/additional_judging_criteria_modal.html' %}
  <!-- Discovery failed to receive judgment toast -->
  {% include 'toasts/discovery_failed_to_receive_judgment.html' %}

</div>

{% endblock %}

{% block extra_scripts %}
    <script src="https://unpkg.com/runtime-memcache@2.0.0"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'js/document-viewer.js' %}"></script>
    <script src="{% static 'js/highlight.js' %}"></script>

    <script>

        var dv = new docView();
        dv.init({
          username: '{{ request.user }}',
          singleDocumentMode: true,
          judgingSourceName: "judgmentsPage",
          searchMode: true,
          getDocumentsToJudgeURL: '{% url 'CAL:get_docs' %}',
          getPrevDocumentsJudgedURL: '{% url 'judgment:get_latest' number_of_docs_to_show=50 %}',
          getDocumentIDsToJudgeURL: '{% url 'CAL:get_docs_ids' %}',
          sendDocumentJudgmentURL: '{% url 'judgment:post_judgment' %}',
          getDocumentURL: '{% url 'core:get_single_doc' %}?docid=',
          fetchPreviouslyJudgedDocsOnInit: false,
          mainJudgingCriteriaName: '{% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}',
          csrfmiddlewaretoken: "{{ csrf_token }}",

          afterDocumentJudge: function(docid, rel) {
            // update document indicator in SERP
            let newColor = "";
            let relText = "";
            switch (rel) {
              case 0:
                newColor = "badge-nonRelevant"; relText = "Non-{% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}"
                break;
              case 1:
                newColor = "badge-relevant"; relText = "{% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}";
                break;
              case 2:
                newColor = "badge-highlyRelevant"; relText = "Highly {% if main_judging_criteria_name %}{{ main_judging_criteria_name }}{% else %}Relevant{% endif %}";
                break;
            }
            $(`#doc_${docid}_judgment_badge`).attr('class', `badge ${newColor}`);
            $(`#doc_${docid}_judgment_badge`).text(relText);
            console.log(`badge ${newColor}`);
          },

          afterDocumentLoad: function (docid) {
            // Perform keyword search if necessary
            searchForKeyword();
          },

          afterCALFailedToReceiveJudgment: function(docid, rel) {
            $('#toast_CALFailedToReceiveJudgment').toast('dispose');
            $(".CALFailedToReceiveJudgmentSpinner").removeClass("d-none");
            $("#CALFailedToReceiveJudgment_toast_body").addClass("d-none");
            $("#toast_CALFailedToReceiveJudgment_docid").html(docid);
            setInterval(function(){
              $("#CALFailedToReceiveJudgment_toast_body").removeClass("d-none");
              $(".CALFailedToReceiveJudgmentSpinner").addClass("d-none");
            },500);
            $('#toast_CALFailedToReceiveJudgment').toast('show');
          }
        });

    </script>
{% endblock %}
